.footer{
  background-color: white;
  margin-left: -20px;
  margin-right: -20px;
  height: 50px;

  display: flex;
  flex-direction: row;

  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(236, 236, 236);
}

.news-section{
  min-width: 107.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-middle-section{
  flex: 10;
  margin-left: 15px;
  margin-right: 15px;
}

.copyright-section{
  min-width: 107.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-section p{
  transition: font-weight 0.25s;
}

.news-section p:hover{
  font-weight: bold;
}

.copyright-section p{
  color: grey;
}