.header{
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(236, 236, 236);
  
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.logo-section{
  min-width: 107.5px;
  display: flex;
  align-items: center;
}

.navigation-section{
  min-width: 250px;
  margin-left: 16px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.middle-section{
  flex: 10;
  margin-left: 15px;
  margin-right: 15px;
}

.right-section{
  width: 187.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon-logo{
  height: 39.5px;
  margin-left: 20px;
  margin-right: 20px;
}

.shop-tab{
  transition: font-weight 0.25s;
}

.shop-tab:hover{
  font-weight: bold;
}

.lookbook-tab{
  transition: font-weight 0.25s;
}

.lookbook-tab:hover{
  font-weight: bold;
}

.support-tab{
  transition: font-weight 0.25s;
}

.support-tab:hover{
  font-weight: bold;
}

.search-tab{
  transition: font-weight 0.25s;
}

.search-tab:hover{
  font-weight: bold;
}

.ship-tab{
  transition: font-weight 0.25s;
}

.ship-tab:hover{
  font-weight: bold;
}

.bag-tab{
  transition: font-weight 0.25s;
}

.bag-tab:hover{
  font-weight: bold;
}